# VSCode
.vscode

# IDEA
.idea

# MacOS
.DS_Store

# docker
.dockerignore

# сертификаты из браузера для добавления в связку ключей MacOS
backend/cert/cdo-dev-els.pem

# функции в разработке
client
envoy
/services/

# сделанный образ приложения
backend/docker-gagarin-api.tar





